<%- include('./components/header');%>
<div class="rooms-container">
    <table class="rooms-table">
        <% for (var i =0; i <=6;  i++ ) { %>
            <tr>
                <% for ( var j =1; j <=10;  j++ ) { %>
                <% if ( availableRooms.indexOf(j+i*10)!= -1 ) { %>
                <th class="green">
                    <a href="/api/v1/room?room=<%= j+i*10 %>">
                        <%= j+i*10 %>
                    </a>
                </th>
                <% }else{ %>
                <th class="red">
                    <a href="/api/v1/room?room=<%= j+i*10 %>">
                        <%= j+i*10 %>
                    </a>
                </th >
                <% } %>
                <% } %>
            </tr>
        <% } %>
    </table>
</div>
<%- include('./components/footer');%>